@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.text-bg{
  color: dimgrey;
}
.bg-yellow{
  background-color: #fed700;
}
.bg-red{
  background-color: #EEC6C6;
}
.custom-radius{
  border: 1px solid #DAD7D7;
  border-radius: 10px;
}

i{
     width:50px;
}

table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     text-align: center;
   }
   #error {
     display: none;
   }

   .spinner-container {
     position: fixed;
     top: 50%;
     left: 44%;
     display: none;
     justify-content: center;
     align-items: center;
   }
