i{
     width:50px;
}
.custom-color{
     background-color:#f6e8fd;
}


/* 

Phone Search
URL Format: https://openapi.programming-hero.com/api/phones?search=${searchText}

Example: https://openapi.programming-hero.com/api/phones?search=iphone

Phone detail url:
URL Format: https://openapi.programming-hero.com/api/phone/${id}

Example: https://openapi.programming-hero.com/api/phone/apple_iphone_13_pro_max-11089 


private repo link : https://github.com/programming-hero-web-course2/phone-hunter-Tareq-dev

*/